<div class="container">
                <div class="row p-4">
                    <div class="col-md-6 col-12 d-flex flex-column justify-content-center ">
                        <h1>MERN STACK DEVELOPER</h1>
                        <p class="text-justify mt-3">MERN is the acronym for MongoDB, Express JS, React JS and Node JS. The MERN stack is a combination of the above technologies, all based on JavaScript, used to build advanced web applications. It is an open source full stack development framework i.e. it provides entire front-end to back-end development components</p>
                    </div>
                    <div class="col-md-6 col-12">
                        <figure class="mt-5">
                            <img src="./images/pankaj-patel-_SgRNwAVNKw-unsplash.jpg" class="img-fluid img-thumbnail" alt="">
                        </figure>
                    </div>
                </div>
            </div>